@media (max-width: 768px) {
.mobileshrinker
{
font-size: 9rem;
}
}

@media (max-width: 768px) {
.mobileshrinker2
{
font-size: 2rem !important;
}
}

@media (max-width: 768px) {
.mobilebackgrounder
{
font-size: 2rem !important;
}
}

.vlt-partners li img
{
opacity: 1;    
}


@media (max-width: 768px) {
.ballshrinker {
    width: 75px !important;
    height: 75px !important;
}
}

.vlt-testimonial {
    padding-right: 2px; /* Adjust the value as needed */
    overflow: hidden; /* Ensures content does not overflow outside */
}
