@media (max-width: 768px) {
.mobileshrinker
{
font-size: 9rem;
}
}

@media (max-width: 768px) {
.mobileshrinker2
{
font-size: 2rem !important;
}
}

@media (max-width: 768px) {
.mobilebackgrounder
{
font-size: 2rem !important;
}
}
